<section>
  <header class="header">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center info">
          <h1>Tu nueva carrera <br>nunca estuvo más cerca</h1>
          <h3>Obtiene las habilidades necesarias para convertirte en desarrollador, diseñador y más</h3>
          <a href="#" ng-click="vm.onClickSeeCourses($event)">Ver cursos</a>
          <a class="play-video" rel="nofollow" ch-video-master="">
            <span class="ion-ios-play-outline"></span>
          </a>
        </div>
      </div>
    </div>
  </header>

  <video ng-if="::vm.videos.length" class="safari_only" autoplay loop poster="/modules/core/client/img/bg-main-header.jpg" style="width:100%; object-fit:cover;">
    <source ng-repeat="item in ::vm.videos track by $index" src="{{::item.source}}" type="{{::item.type}}" />
  </video>

  <div ng-if="::!vm.videos.length" class="mobile-poster">&nbsp;</div>
</section>
