<section id="workshops-home" ng-show="::vm.workshops.length">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title"><a ui-sref="workshops">Workshops y Eventos</a></h2>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 workshop-modulo" ng-repeat="item in ::vm.workshops | orderBy:'date' track by $index">
        <div class="row">
          <div class="col-xs-3 icon">
            <div class="circle">
              <a ui-sref="workshop({url: item.url})"><img ng-src="{{::item.logo | resizeCloudinary}}" /></a>
            </div>
          </div>
          <div class="col-md-9">
            <h2><a ui-sref="workshop({url: item.url})" ng-bind="::item.title"></a></h2>
            <h5 ng-bind="::(item.date | date:'dd') +' de '+ (item.date | monthDateArg)"></h5>
            <a ui-sref="workshop({url: item.url})">ver más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
