<section id="porque">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="title">¿Por qué elegir Coderhouse?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <header>

              <img src="modules/core/client/img/trabajo.svg" />
              <h2>
                  Salida laboral
                </h2>

            </header>

            <div class="contenido">
              <p>
                Una vez finalizado el curso, trabajaremos en conjunto para brindarte una salida laboral inmediata. Desde Coderhouse te asesoramos con tu perfil de Linkedin, portfolio personal y entrevistas piloto.
              </p>

            </div>
            <!--a class="">Casos de éxito <span class="ion-arrow-right-c"></span></a-->
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <header>

              <img src="modules/core/client/img/certificado.svg" />
              <h2>
                  Certificación
                </h2>

            </header>
            <div class="contenido">
              <p>
                Demuestra tus nuevas habilidades para desenvolverte en la industria. El certificado refleja que has aprendido y comprendido exitosamente los temas vistos.
              </p>
            </div>
            <!--a href="" class="">Empresas que nos certifican <span class="ion-arrow-right-c"></span></a-->
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <header>

              <img src="modules/core/client/img/portfolio.svg" />
              <h2>Portfolio</h2>

            </header>
            <div class="contenido">
              <p>
                Construí tu propio portfolio durante el curso. Es la oportunidad perfecta de mostrar tu experiencia a futuros empleadores.
              </p>
              <p>
                Al finalizar contarás con material real generado en clases para empezar a armar tu perfil profesional.
              </p>
            </div>
            <!--a class="">Trabajos realizados por alumnos <span class="ion-arrow-right-c"></span></a-->
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
