#porque {
  text-align: center;
  padding: 80px 0;
  .col-md-4 {
    .card {
      background: white;
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
      padding: 20px;
      max-width: 400px;
      margin: auto;
      min-height: 400px;
      margin-bottom: 20px;
      margin-top: 10px;
      header {
        background-size: cover;
        margin-bottom: 15px;
        img {
          max-width: 100px;
        }
        .overlay {
          padding: 15px 30px;
          h2 {
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 300;
            margin-bottom: 20px;
            color: white;
            text-align: center;
          }
        }
      }
      .contenido {
        min-height: 200px;
        padding: 0 15px;
      }
      a {
        color: $cta;
        &:hover {
          color: $cta-dark;
        }
      }
    }
  }
}
