@mixin modulo-carrera($color) {
  a {
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }
  background: #F9F9F9;
  margin-bottom: 30px;
  max-width: 360px;
  margin: 15px auto;
  border: 1px solid #EEE;
  header {
    padding: 30px 15px;
    background: $color;
    overflow: auto;
    img {
      max-width: 50px;
      float: left;
    }
    .info {
      float: left;
      max-width: 250px;
      margin-left: 10px;
      margin-top: 5px;
      h2 {
        font-size: 18px;
        color: white;
        font-weight: 400;
        margin: 0;
      }
      p {
        font-weight: 300px;
      }
    }
  }
  .contenido {
    padding: 20px;
    p.descripcion {
      min-height: 80px;
    }
    span.link {
      margin-top: 30px;
      font-family: $title-font;
      color: $color;
      display: inline-block;
    }
  }
}
.carrera-modulo {
  &.frontend {
    @include modulo-carrera($frontend);
  }
  &.fullstack {
    @include modulo-carrera($fullstack);
  }
  &.movil {
    @include modulo-carrera($movil);
  }
  &.marketing {
    @include modulo-carrera($marketing);
  }
  &.diseno {
    @include modulo-carrera($diseno);
  }
  &.wordpress {
    @include modulo-carrera($wordpress);
  }
}
