$main-font: "Roboto", "Raleway", arial, helvetica, sans-serif;
$title-font: "Montserrat", arial, helvetica, sans-serif;
$main-color: #69C0AC;
$text-color: #5D5D5D; // CARRERAS
$cta: #ff304b;
$cta_dark: darken($cta,10%);
$facebook: rgb(44,67,136);
$twitter: rgb(66,152,237);
$pinterest: rgb(192,0,64);
$instagram: rgb(18,86,136);
$github: rgb(0,0,0); // CARRERAS
$frontend: #536dfe;
$frontend_dark: darken($frontend, 10%);
$fullstack: #FF5722;
$fullstack_dark: darken($fullstack, 10%);
$movil: #9c27b0;
$movil_dark: darken($movil, 10%);
$diseno: #D32F2F;
$diseno_dark: darken($diseno, 10%);
$marketing: #8BC34A;
$marketing_dark: darken($marketing, 10%);
$wordpress: #303F9F;
$wordpress_dark: darken($wordpress, 10%); // CURSOS
$disenador-web: #40c4ff;
$disenador-web_dark: darken($disenador-web, 10%);
$programador-web: #03a9f4;
$programador-web_dark: darken($programador-web, 10%);
$curso-frontend: #536dfe;
$curso-frontend_dark: darken($curso-frontend, 10%);
$curso-fullstack: #FF5722;
$curso-fullstack_dark: darken($curso-fullstack, 10%);
$curso-movil: #9c27b0;
$curso-movil_dark: darken($curso-movil, 10%);
$curso-marketing1: #673AB7;
$curso-marketing1_dark: darken($curso-marketing1, 10%);
$curso-marketing2: #8BC34A;
$curso-marketing2_dark: darken($curso-marketing2, 10%);
$curso-wordpress1: #3F51B5;
$curso-wordpress1_dark: darken($curso-wordpress1, 10%);
$curso-wordpress2: #303F9F;
$curso-wordpress2_dark: darken($curso-wordpress2, 10%);
$curso-disenador-grafico: #FF4081;
$curso-disenador-grafico_dark: darken($curso-disenador-grafico, 10%);
$curso-diseno-ux: #F44336;
$curso-diseno-ux_dark: darken($curso-diseno-ux, 10%);
