@import "vars";
body,
html {
	height: 100%;
	font-family: Roboto, sans-serif !important;
}
body {
	color: $text-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
}
a,
address,
li,
p {
	font-family: $main-font;
	font-weight: 300;
	line-height: 22px;
	outline: none !important;
}
h1 {
	font-weight: 700;
}
.vertical-flex {
	display: flex;
	align-items: center;
}
section {
	h2.title {
		margin-bottom: 40px;
		font-size: 30px;
		text-transform: uppercase;
		font-weight: 600;
		a {
			font: inherit;
			color: inherit;
			&:hover {
				text-decoration: inherit;
			}
		}
		@media (max-width: 768px) {
			text-align: center;
		}
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#carreras,
#cursos,
#workshops-home {
	padding: 60px 0;
}
#workshops-home {
	padding-top: 0;
	.container {
		padding-top: 60px;
		border-top: 1px solid #EEE;
	}
}
#cursos {
	background: #f9f9f9;
}
.workshop-modulo {
	margin-bottom: 50px;
	.icon {
		.circle {
			border-radius: 10px;
			img {
				max-width: 100%;
			}
		}
	}
	h2 {
		margin: 0;
		font-size: 20px;
		line-height: 22px;
		height: 44px;
		overflow: hidden;
		a {
			font-size: inherit;
			font-weight: inherit;
			font-family: inherit;
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.btn {
	color: white;
	border: 1px solid white;
	transition: 1s;
	&:hover {
		color: $cta;
		background: white;
	}
}
.btn-primary {
	background-color: $cta;
	border: none;
	transition: 0.5s;
	&:hover {
		background-color: $cta-dark;
		color: white;
	}
}
.mas-info {
	h2 {
		font-size: 22px;
		max-width: 600px;
		margin: 20px auto auto;
	}
	form {
		input {
			max-width: 300px;
			padding: 30px;
			margin-bottom: 10px;
			font-family: roboto;
			font-size: 16px !important;
			font-weight: 300;
			margin: 0 auto 20px;
			border: none !important;
		}
		input[type=submit] {
			padding: 20px 30px;
			margin-bottom: 0;
			border-radius: 4px;
			left: 0;
			width: 300px;
			margin-top: 10px;
		}
	}
}
.modal.video {
	.content {
		position: relative;
		width: 78%;
		height: auto;
		margin: 20px auto;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		background-color: #fff;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		padding: 20px;
		margin-top: 100px;
		.close-button {
			background: url('/modules/core/client/img/close-icon.png');
			width: 25px;
			height: 23px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			z-index: 999;
		}
	}
}
@import "header";
@import "video";
@import "_modulo-curso";
@import "_modulo-carrera";
@import "_home-porque";
@import "_home-testimonios";
@import "../../../ch-directives/ch-nav/sass/_navbar.scss";
@import "../../../ch-directives/ch-country/sass/_ch-country.scss";
@import "../../../ch-directives/ch-footer/sass/_footer.scss";
@import "../../../ch-directives/ch-newsletter/sass/_newsletter.scss";
@import "../../../testimonies/sass/_testimonies.scss";
@import "../../../courses/sass/_courses.scss";
@import "../../../courses/sass/_careers.scss";
@import "../../../courses/sass/_landing.scss";
@import "../../../workshops/sass/_workshop.scss";
@import "../../../workshops/sass/_workshops.scss";
@import "../../../workshops/sass/_landing-workshop.scss";
@import "../../../business/sass/_empresas.scss";
@import "../../../methodology/sass/_methodology.scss";
@import "../../../thankyoupage/sass/_thankyoupage.scss";
@import "../../../jobs/sass/_job.scss";
@import "../../../spaces/sass/_space.scss";
@import "../../../certifications/sass/_certifications.scss";
