<form ng-submit="vm.ok()">
  <div class="modal-header">
    <h3 class="modal-title">Ingresa tus datos.</h3>
  </div>
  <div class="modal-body">
    <input ng-model="vm.params.name" class="form-control SmarketeerField" placeholder="Ingresa tu nombre" type="text" name="name" required="" />
    <br/>
    <input ng-model="vm.params.email" class="form-control SmarketeerField" placeholder="Déjanos tu email" type="email" id="smkt_email" name="email" required="" />
    <br/>
    <input ng-model="vm.params.phone" class="form-control SmarketeerField" placeholder="Tu teléfono" type="number" name="tel" min="7" required="" />
    <br/>
    <input ng-model="vm.params.cv_online" class="form-control SmarketeerField" placeholder="y tu Linkedin o tu CV online ;)" type="url" name="url" required="" />
  </div>
  <div class="modal-footer">
    <input class="btn btn-primary" type="submit" ng-value="vm.viewSubmit" value="Enviar" />
  </div>
</form>
