<section id="remoto">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="title text-center">
					Modalidad remoto
				</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6 text-center">
				<span class="ion-headphone"></span>
				<h3>Clases en vivo</h3>
				<p>
					Nuestros profesores expertos te explicarán y resolverán tus preguntas en vivo durante la clase.
				</p>
			</div>

			<div class="col-md-3 col-sm-6 text-center">
				<span class="ion-ios-people"></span>
				<h3>Programación grupal</h3>
				<p>
					Codifica en simultaneo con tu tutor y compañeros. Nuestros profesores verificarán tus avances.
				</p>
			</div>


			<div class="col-md-3 col-sm-6 text-center">
				<span class="ion-document-text"></span>
				<h3>Contenido</h3>
				<p>
					Accede a toda el contenido de por vida. Continua aprendiendo inclusive después de finalizar tu carrera.
				</p>
			</div>

			<div class="col-md-3 col-sm-6 text-center">
				<span class="ion-code-working"></span>
				<h3>Trabajos Prácticos</h3>
				<p>
					Después de cada clase tendrás un trabajo practico para reforzar tus conocimientos.
				</p>
			</div>

		</div>
	</div>
</section>