<section id="home-testimonios">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="title">
            <a ui-sref="testimonio">Testimonios</a>
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="un-testimonio">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0">
                <span class="foto">
                <img src="modules/core/client/img/paulo.jpg" class="img-circle img-responsive" />
                </span>
              </div>

              <div class="col-md-9 col-xs-12">
                <h4>Proyecto propio</h4>
                <p>Hice el curso de Frontend en Coderhouse, y se lo recomendé a un amigo. Al finalizarlo juntos emprendimos nuestros proyecto, ya tenemos varios clientes y vamos ganando experiencia.</p>
                <h5><strong>Paulo Marquez y Luis Salazar</strong></h5>
                <a ui-sref="testimonio" class="">Seguir leyendo <span class="ion-arrow-right-c"></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="un-testimonio">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0">
                <span class="foto">
                <img src="modules/core/client/img/maggie.jpg" class="img-circle img-responsive"/>
                </span>
              </div>

              <div class="col-xs-12 visible-xs visible-sm">
                <hr/>
              </div>

              <div class="col-md-9 col-xs-12">
                <h4>El viaje soñado</h4>
                <p>Después de hacer el curso de Fullstack y Frontend me animé y apliqué a una pasantía de un año en Australia, con sponsoreo de visa, y aquí estoy en Sydney, no me han echado en 4 meses aún... ;) </p>
                <h5><strong>Maggie Luizzi</strong></h5>
                <a ui-sref="testimonio" class="">Seguir leyendo <span class="ion-arrow-right-c"></span></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xs-12">
          <div class="un-testimonio">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0">
                <span class="foto">
                <img src="modules/core/client/img/nicolas.jpg" class="img-circle img-responsive"/>
                </span>
              </div>

              <div class="col-xs-12 visible-xs visible-sm">
                <hr/>
              </div>

              <div class="col-md-9 col-xs-12">
                <h4>La Agencia</h4>
                <p>Hacer el curso de Frontend me dio el empujón necesario para terminar de cerrar mi idea de crear una agencia digital. Junto con un amigo hicimos Quantum, llegando a tener clientes como Aerolíneas Argentinas y Flechabus</p>
                <h5><strong>Nicolás Castano</strong></h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12">
          <div class="un-testimonio">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0">
                <span class="foto">
                <img src="modules/core/client/img/matias.jpg" class="img-circle img-responsive"/>
                </span>
              </div>

              <div class="col-xs-12 visible-xs visible-sm">
                <hr/>
              </div>

              <div class="col-md-9 col-xs-12">
                <h4>De Coderhouse al Ministerio</h4>
                <p>Haber realizado el curso de Frontend en Coderhouse me abrió muchas puertas, especialmente a mi actual trabajo como Asesor Especializado en Tecnología e Información en el Ministerio de Mordenización de la Nación.</p>
                <h5><strong>Matias Cervi</strong></h5>

              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <a ui-sref="testimonio" class="btn btn-primary vermas">Ver más testimonios</a>
        </div>


      </div>
    </div>
  </div>
</section>
