<section class="descripcion">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h1>Trabajos realizados por alumnos</h1>
					<!--<p ng-bind="vm.course.detail.description_all"></p>-->

					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="work">
								<a href="http://www.tryajob.us/" target="_blank" rel="nofollow">
									<img src="/modules/core/client/img/trabajos-alumnos/tryajob.jpg" class="img-responsive" />
								</a>
								<h4>Try a Job</h4>
								<p>Trabajo realizado por Matías Cervi.</p>
							</article>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="work">
								<a href="http://www.mahindraviajes.com/" target="_blank" rel="nofollow">
									<img src="/modules/core/client/img/trabajos-alumnos/mahindra.jpg" class="img-responsive" />
								</a>
								<h4>Mahindra</h4>
								<p>Trabajo realizado por Helen De Leo.</p>
							</article>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="work">
								<a href="http://inspirithr.com/" target="_blank" rel="nofollow">
									<img src="/modules/core/client/img/trabajos-alumnos/inspirithr.jpg" class="img-responsive" />
								</a>
								<h4>Inspirit</h4>
								<p>Trabajo realizado por Matías Cervi.</p>
							</article>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12">
							<article class="work">
								<a href="http://www.bairesdev.com/" target="_blank" rel="nofollow">
									<img src="/modules/core/client/img/trabajos-alumnos/bairesdev.jpg" class="img-responsive" />
								</a>
								<h4>BairesDev</h4>
								<p>Trabajo realizado por Fabián Suarez.</p>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
