<section class="offices">
  <div class="inner">
    <div class="image-bg" style="width: 50%;">
      <div class="maps-offices">
        <img src="modules/core/client/img/maps_new.svg" alt="Mapa" />
        <div class="tooltip tooltip-1">
          <div class="glow wow blip animated" style="visibility: visible; animation-name: blip;"></div>
          <div class="hold">
            <p>Buenos Aires HQ</p>
            <p class="grey">El Salvador 5718, CABA</p>
            <a href="https://goo.gl/maps/ekAb93KPqtQ2" target="_blank">View on Google Maps</a>
          </div>
        </div>
        <div class="tooltip tooltip-2">
          <div class="glow wow blip animated" style="visibility: visible; animation-name: blip; -webkit-animation-delay: 0.5s;"></div>
          <div class="hold">
            <p>Chile</p>
            <p class="grey">El Salvador 5718, CABA</p>
            <a href="https://goo.gl/maps/ekAb93KPqtQ2" target="_blank">View on Google Maps</a>
          </div>
        </div>
        <div class="tooltip tooltip-3">
          <div class="glow wow blip animated" style="visibility: visible; animation-name: blip; -webkit-animation-delay: 1s;"></div>
          <div class="hold">
            <p>Uruguay</p>
            <p class="grey">El Salvador 5718, CABA</p>
            <a href="https://goo.gl/maps/ekAb93KPqtQ2" target="_blank">View on Google Maps</a>
          </div>
        </div>
      </div>
    </div>
    <div class="text right">
      <h1 class="title">Sedes</h1>
      <ul>
        <li class="bsas">
          <div class="image">
            <img src="modules/core/client/img/ar-sede.png" style="width: 90px;height: 90px;" />
          </div>
          <div class="text">
            <h3>Buenos Aires, Argentina</h3>
          </div>
        </li>
        <li class="santiago">
          <div class="image">
            <img src="modules/core/client/img/cl-sede.png" style="width: 90px;height: 90px;" />
          </div>
          <div class="text">
            <h3>Santiago, Chile</h3>
          </div>
        </li>
        <li class="montevideo">
          <div class="image">
            <img src="modules/core/client/img/uy-sede.png" style="width: 90px;height: 90px;" />
          </div>
          <div class="text">
            <h3>Montevideo, Uruguay</h3>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
