<section id="cursos" ng-show="::vm.levels.length">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2 class="title">Cursos cortos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 curso-modulo {{::level.url}}" ng-repeat="level in ::vm.levels" ng-if="::level.courses.length">

        <div class="un-curso">
          <div class="icon">
            <a ui-sref="course({courseUrl:level.url})">
              <div class="circle">
                <img ng-src="{{::'modules/core/client/img/cursos/'+level.url+'.svg'}}" />
              </div>
            </a>
          </div>

          <div class="contenido">
            <a ui-sref="course({courseUrl:level.url})"><h2 ng-bind="::level.subtitle"></h2></a>
            <!--<p><strong ng-bind="level.tecnologiesToString"></strong></p>-->
            <p ng-bind="::'Duración: '+level.detail.weeks+' semanas.'"></p>
            <a ui-sref="course({courseUrl:level.url})" class="link">ver programa</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
