@mixin carrera($color, $color-dark, $borde) {
	background: white;
	.navbar {
		background: #424242 !important;
		border-bottom: 1px solid $color-dark !important;
	}
	header.courses {
		background: $color;
		color: white;
		padding: 50px 0;
		margin-bottom: 50px;
		border: 0;
		border-bottom: 8px;
		border-image: url($borde) 30 0 round;
		.overlay {
			background: none;
		}
		p {
			font-size: 16px;
			font-weight: 300;
			max-width: 500px;
			@media (max-width: 992px) {
				margin-bottom: 30px;
			}
		}
		h1 {
			margin-top: 50px;
			@media (max-width: 992px) {
				margin-top: 30px;
			}
		}
		.cta {
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}
	.una-carrera {
		padding: 50px 0;
	}
	.modulo {
		box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
		margin: auto auto 30px;
		background: white;
		max-width: 300px;
		text-decoration: none;
		display: inline-block;
		color: #5D5D5D;
		header {
			color: white;
			padding: 20px 10px 10px;
			min-height: 180px;
			h1 {
				font-size: 28px;
				margin: 3px 0;
				font-weight: 300;
				font-family: $main-font;
			}
			h3 {
				font-size: 16px;
				margin: 0;
				font-weight: 300;
				font-family: $main-font;
			}
			hr {
				width: 60px;
				color: white;
				margin: 10px auto;
			}
			p {
				margin-bottom: 0;
			}
			img {
				max-width: 30px;
				margin-bottom: 4px;
			}
			&.disenador-web {
				background-color: $disenador-web;
			}
			&.programador-web {
				background-color: $programador-web;
			}
			&.experto-frontend {
				background-color: $frontend;
			}
			&.experto-full-stack {
				background-color: $fullstack;
			}
			&.experto-movil {
				background-color: $movil;
			}
			&.wordpress,
			&.wordpress-basico {
				background-color: $curso-wordpress1;
			}
			&.wordpress-avanzado {
				background-color: $curso-wordpress2;
			}
			&.diseno-grafico {
				background-color: $curso-disenador-grafico;
			}
			&.diseno-ux {
				background-color: $curso-diseno-ux;
			}
			&.marketing-digital-basico {
				background-color: $curso-marketing1;
			}
			&.marketing-digital-avanzado {
				background-color: $curso-marketing2;
			}
		}
		.nivel {
			background: $color-dark;
			padding: 10px;
			color: white;
			height: 40px;
			&.disenador-web {
				background-color: $disenador-web_dark;
			}
			&.programador-web {
				background-color: $programador-web_dark;
			}
			&.experto-frontend {
				background-color: $frontend_dark;
			}
			&.experto-full-stack {
				background-color: $fullstack_dark;
			}
			&.experto-movil {
				background-color: $movil_dark;
			}
			&.wordpress,
			&.wordpress-basico {
				background-color: $curso-wordpress1_dark;
			}
			&.wordpress-avanzado {
				background-color: $curso-wordpress2_dark;
			}
			&.diseno-grafico {
				background-color: $curso-disenador-grafico_dark;
			}
			&.diseno-ux {
				background-color: $curso-diseno-ux_dark;
			}
			&.marketing-digital-basico {
				background-color: $curso-marketing1_dark;
			}
			&.marketing-digital-avanzado {
				background-color: $curso-marketing2_dark;
			}
			span {
				font-size: 15px;
			}
		}
		.contenido {
			padding: 10px;
			p {
				min-height: 100px;
			}
			ul.tecnologias {
				margin: 15px auto;
				text-align: center;
				padding: 0;
				li {
					background: $color;
					display: inline-block;
					padding: 5px;
					width: 40px;
					height: 40px;
					text-align: center;
					margin: 0 10px;
					border-radius: 50%;
					min-height: 85px;
					span {
						color: white;
						font-size: 28px;
						position: relative;
						top: 2px;
					}
				}
			}
			hr {
				margin-bottom: 10px;
				margin-top: 10px;
			}
			.pagos {
				p {
					color: $color-dark;
					font-size: 18px;
					strong {
						font-size: 25px;
						position: relative;
						top: 5px;
					}
				}
				a {
					background: $color;
					color: white;
					padding: 10px 20px;
					margin-top: 10px;
					display: inline-block;
					width: 100%;
				}
			}
		}
		&.carrera {
			transform: scale(1.05);
			background: $color;
			header {
				background: white;
				color: $color;
				hr {
					color: $color;
				}
			}
			.nivel {
				background: white;
				box-shadow: 0 1px 0 #DDD inset;
				p {
					color: red;
					font-weight: 700;
					font-size: 18px;
					margin: 0;
					text-align: center;
				}
			}
			.contenido {
				p {
					color: white;
				}
				ul.tecnologias {
					li {
						background: white;
						span {
							color: $color;
						}
					}
				}
				a {
					background: white;
					color: $color;
				}
			}
		}
	}
	.curso-info {
		background: #f9f9f9;
		position: relative;
		top: -20px;
		padding: 40px 0;
		h2 {
			background: $color;
			color: white;
			padding: 10px 20px;
			small {
				color: white;
			}
			&:before {
				content: "";
				display: block;
				width: 20px;
				height: 20px;
				background: $color;
				position: relative;
				position: absolute;
				top: 10px;
				transform: rotate(45deg);
				left: 140px;
			}
		}
		.accordion {
			margin: 30px 0;
			clear: both;
			a {
				padding: 10px;
				display: block;
				position: relative;
				&:after {
					content: "\25BC";
					float: right;
					color: $cta;
					right: -5px;
					margin-top: -16px;
					top: 50%;
					position: absolute;
				}
			}
		}
		.datos {
			display: flex;
			margin-top: 10px;
			padding: 0;
			li {
				display: inline-block;
				flex: 1;
				text-align: center;
				.dato {
					display: inline-block;
					font-size: 35px;
					background: $color;
					border-radius: 50%;
					height: 80px;
					width: 80px;
					color: white;
					padding-top: 28px;
					text-align: center;
					font-weight: 400;
					letter-spacing: -1px;
				}
				.info {
					display: block;
					font-size: 16px;
					text-transform: uppercase;
					margin-top: 10px;
					line-height: 16px;
				}
			}
			@media (max-width:600px) {
				display: block;
				li {
					display: block;
					overflow: auto;
					margin: 10px 0;
					.dato {
						font-size: 18px;
						height: 45px;
						width: 45px;
						padding-top: 11px;
						letter-spacing: 0;
						float: left;
					}
					.info {
						float: left;
						left: 20px;
						position: relative;
					}
				}
			}
		}
		.panel-group {
			.panel-default {
				border: none;
			}
			.panel-heading {
				background: none;
				border: none;
			}
			.panel-body {
				pre {
					border: none;
					background: white;
					font-family: Roboto;
					font-size: 14px;
					font-weight: 300;
				}
			}
		}
		.unidades {
			display: flex;
			margin-top: 30px;
			flex-wrap: wrap;
			article {
				flex: 1;
				text-align: center;
				&:not(:last-child) {
					border-right: 1px solid #CCC;
				}
				@media (max-width: 1200px) {
					flex: auto;
					width: 33%;
					border: none !important;
				}
				@media (max-width: 720px) {
					width: 49%;
				}
				@media (max-width: 500px) {
					width: 100%;
					text-align: left;
					&:not(:last-child) {
						border-bottom: 1px solid #CCC !important;
						margin-bottom: 15px;
					}
				}
				h4 {
					color: $color;
				}
				ul {
					padding: 0;
					list-style: none;
					li {}
				}
			}
		}
		.cta {
			margin-top: 50px;
		}
		.fechas {
			margin-top: 30px;
			background: #eee;
			h3 {
				text-align: center;
				padding-top: 10px;
			}
			.calendario {
				display: flex;
				margin-top: 30px;
				article {
					flex: 1;
					text-align: left;
					padding-left: 15px;
					h4 {
						color: $color;
					}
					ul {
						padding: 0;
						list-style: none;
						li {}
					}
					a {
						background: $color;
						color: white;
						border-radius: 0;
					}
				}
			}
		}
		.fechas2 {
			text-align: center;
			p {
				margin: 0;
			}
			a {
				max-width: 300px;
				margin: auto;
			}
		}
	}
	.fechas2 {
		text-align: center;
		p {
			margin: 0;
		}
		a {
			max-width: 300px;
		}
		.btn-inscribirme {
			background-color: #69C0AC;
			text-align: center;
			margin: auto;
		}
	}
	.descripcion {
		background: #f9f9f9;
		background-size: cover;
		background-attachment: fixed;
		background-position-y: 300px;
		.overlay {
			padding: 50px;
			background: rgba(0,0,0,0.8);
		}
		h1 {
			color: white;
		}
		h2 {
			color: white;
			font-size: 25px;
			letter-spacing: -1px;
			margin: 30px 0;
		}
		p {
			color: white;
			font-size: 18px;
			font-weight: 300;
			line-height: 40px;
			max-width: 800px;
			margin: auto;
		}
		@media (max-width:768px) {
			h1 {
				font-size: 28px;
			}
			p {
				font-size: 16px;
				line-height: 25px;
			}
			h2 {
				font-size: 20px;
				font-weight: 400;
			}
		}
		hr {
			max-width: 100px;
			margin: 30px auto;
		}
		.work {
			background: white;
			color: #444;
			padding-bottom: 15px;
			margin: auto;
			max-width: 300px;
			margin-bottom: 20px;
			h4 {
				margin-top: 30px;
				margin-bottom: 0;
			}
			p {
				font-size: 12px;
				color: #444;
			}
		}
	}
	.inicios {
		padding: 20px 0 50px;
		margin-bottom: 20px;
		h3 {
			margin: 30px 0;
			text-align: center;
		}
		article {
			color: #444;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
			max-width: 300px;
			margin: auto auto 20px;
			h4 {
				background: $color-dark;
				padding: 15px;
				margin: 0;
				text-align: center;
				color: white;
				font-size: 15px;
				font-weight: 400;
			}
			.contenido {
				padding: 15px;
				.pricing {
					text-align: center;
					span {
						margin: 0;
					}
					h2 {
						margin: 0;
						font-size: 24px;
					}
				}
			}
			p {
				margin: 0;
				text-align: center;
				font-size: 16px;
			}
			a {
				margin-top: 20px;
			}
			.cont-temprana {
				text-align: center;
				h3 {
					margin: 15px 0;
					&.temprana {
						position: relative;
						display: inline-block;
						&:after {
							content: "";
							display: inline-block;
							position: absolute;
							height: 2px;
							width: 100px;
							background: red;
							left: 0;
							top: 10px;
							transform: rotate(-9deg);
						}
					}
				}
			}
		}
		.table > tbody > tr > td {
			vertical-align: middle;
		}
	}
	.mas-info {
		h2 {
			font-size: 22px;
			max-width: 600px;
			margin: 20px auto auto;
		}
		form {
			input {
				max-width: 300px;
				padding: 30px;
				margin-bottom: 10px;
				font-family: Roboto, Arial, Helvetica, sans-serif;
				font-size: 16px;
				font-weight: 300;
				margin: 0 auto 20px;
				border: none;
			}
			input[type=submit] {
				padding: 20px 30px;
				margin-bottom: 0;
				border-radius: 4px;
				left: 0;
				width: 300px;
				margin-top: 10px;
			}
		}
	}
	#remoto {
		padding: 50px 0;
		background: #eee;
		span {
			border: 3px solid $color-dark;
			font-size: 50px;
			background: $color;
			color: white;
			width: 100px;
			display: inline-block;
			height: 100px;
			border-radius: 50%;
			padding-top: 12px;
		}
	}
	#newsletter {
		.highligthed {
			color: $main-color;
		}
	}
}
.seccion-career,
.seccion-career-single,
.seccion-careers,
.seccion-remote {
	&.desarrollo-frontend {
		@include carrera($frontend, $frontend-dark, "/modules/core/client/img/frontend-line.svg");
	}
	&.desarrollo-full-stack {
		@include carrera($fullstack, $fullstack-dark, "/modules/core/client/img/fullstack-line.svg");
	}
	&.desarrollo-movil {
		@include carrera($movil, $movil-dark, "/modules/core/client/img/movil-line.svg");
	}
	&.wordpress {
		@include carrera($wordpress, $wordpress-dark, "/modules/core/client/assets/img/wordpress-line.svg");
	}
	&.diseno {
		@include carrera($diseno, $diseno-dark, "/modules/core/client/assets/img/diseno-line.svg");
	}
	&.marketing-digital {
		@include carrera($marketing, $marketing-dark, "/modules/core/client/assets/img/marketing-line.svg");
	}
}
.career-flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
@mixin carrera-modulo($color, $color-dark) {
	background: #F9F9F9;
	margin-bottom: 30px;
	max-width: 360px;
	margin: 15px auto;
	border: 1px solid #EEE;
	header {
		padding: 30px 20px;
		background: $color;
		h1 {
			font-size: 24px;
			color: white;
			font-weight: 400;
		}
		p {
			color: white;
		}
	}
	.contenido {
		padding: 0;
		a {
			margin-top: 30px;
			font-family: $title-font;
			color: $color;
			display: inline-block;
		}
		ul {
			list-style: none;
			padding: 0;
			margin-bottom: 0;
			li {
				padding: 15px 5px 10px;
				cursor: pointer;
				transition: 0.5s;
				border-bottom: 1px solid #eee;
				margin-bottom: 0 !important;
				&:last-child {
					border: none;
				}
				&:hover {
					background-color: rgba(0,0,0,.05);
				}
				a {
					display: inline-block;
					color: inherit;
					margin: 0;
					width: 100%;
				}
				article {
					overflow: auto;
					margin: 0;
					padding: 0;
					div {
						&.icon {
							margin-right: 10px;
							span {
								width: 50px;
								height: 50px;
								border-radius: 50%;
								display: block;
								text-align: center;
								padding-top: 8px;
								img {
									max-width: 32px;
								}
							}
						}
					}
					h3 {
						font-size: 16px;
						margin: 14px 0 0;
					}
					h5 {
						font-family: $main-font;
						font-size: 12px;
						font-weight: 300;
						margin: 3px;
					}
				}
			}
		}
		.curso-modulo {
			margin-bottom: 0;
			.icon .circle {
				float: none;
				padding: 8px 0 0;
			}
		}
	}
}
.carrera-modulo {
	&.desarrollo-frontend {
		@include carrera-modulo($frontend, $frontend-dark);
	}
	&.desarrollo-full-stack {
		@include carrera-modulo($fullstack, $fullstack-dark);
	}
	&.desarrollo-movil {
		@include carrera-modulo($movil, $movil-dark);
	}
	&.wordpress {
		@include carrera-modulo($wordpress, $wordpress-dark);
	}
	&.diseno {
		@include carrera-modulo($diseno, $diseno-dark);
	}
	&.marketing-digital {
		@include carrera-modulo($marketing, $marketing-dark);
	}
}
.seccion-careers {
	header.careers-header {
		color: white;
		background: url("/modules/core/client/img/bg-workshop.jpg");
		background-size: cover;
		background-position: center;
		color: #fff;
		.overlay {
			padding: 80px 0;
		}
		border: 0;
		border-bottom: 8px;
		.btn-primary {
			margin-top: 20px;
		}
		p {
			font-size: 16px;
			font-weight: 300;
			max-width: 500px;
			margin: auto;
			@media (max-width: 992px) {
				margin-bottom: 30px;
			}
		}
		h1 {
			margin-top: 50px;
			@media (max-width: 992px) {
				margin-top: 30px;
			}
		}
	}
}
