<ch-courses-header course="vm.course"></ch-courses-header>
<ch-courses-levels ng-if="::vm.course.levels.length" course="vm.course"></ch-courses-levels>
<ch-courses-program course="vm.course"></ch-courses-program>

<ch-courses-remote ng-if="::vm.course.remote"></ch-courses-remote>

<ch-courses-date course="vm.course" currencies="vm.currencies"></ch-courses-date>
<ch-courses-practical-works course="vm.course"></ch-courses-practical-works>
<ch-courses-teacher course="vm.course"></ch-courses-teacher>
<ch-free-class course="vm.course"></ch-free-class>
