/*
footer {
	background: #333;
	color: white;
	font-weight: 300;
	padding: 20px 0 0;
	.foot1 {
		padding: 20px 0;
	}
	.empresa {
		ul {
			padding: 0;
			li {
				display: inline-block;
				margin: 0 10px;
				line-height: 40px;
				a {
					color: white;
					&.brand {
						img {
							max-width: 140px;
							position: relative;
							top: -3px;
						}
					}
				}
			}

			@media (max-width: 768px){
				text-align: center;
	    		margin-bottom: 20px;
			}
		}
	}
	.social-menu {
		li {
			display: inline-block;
			a {
				display: inline-block;
				border-radius: 50%;
				height: 40px;
				width: 40px;
				text-align: center;
				padding: 8px;
				background: red;
				margin: 0 3px;
				transition: 0.5s;
				span {
					font-size: 25px;
					color: white;
				}
				&:hover {
					transform: scale(1.1,1.1);
				}
				&.facebook {
					background: rgba(255, 255, 255, 0.25); //$facebook;
				}
				&.twitter {
					background: rgba(255, 255, 255, 0.25);//$twitter;
				}
				&.pinterest {
					background: rgba(255, 255, 255, 0.25);//$pinterest;
				}
				&.instagram {
					background: rgba(255, 255, 255, 0.25);//$instagram;
				}
				&.github {
					background: rgba(255, 255, 255, 0.25);//$github;
				}
				&.snapchat {
					background: rgba(255, 255, 255, 0.25);//yellow;
					span{
						text-shadow: 0 0 1px black;
					}
				}
				&.linkedin {
					background: rgba(255, 255, 255, 0.25);//#0077b5;
				}
			}
		}

		@media (max-width: 768px){
			display: block;
			text-align: center;
			padding: 0;
    		float: none !important;
    		li{
    			a{
    				width: 35px;
    				height: 35px;
    				padding: 5px;
    			}
    		}
		}
	}
	.menu {
		border-top: 1px solid #555;
		padding: 20px 0;
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				margin: 0 10px;
				&:not(:last-child):after {
					content: "\00B7";
					position: relative;
					left: 10px;
					color: #ccc;
					font-size: 20px;
					top: 3px;
				}
				a {
					color: white;
					&:hover {
						text-decoration: none;
						color: $main-color;
					}
				}
			}
		}
	}
	.contacto {
		padding: 20px 0;
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
		h5 {
			color: $main-color;
		}
		a {
			color: white;
			&:hover {
				text-decoration: none;
				color: $main-color;
			}
		}
	}
	.footer-foot {
		padding: 20px 0;
		.ion-heart {
			color: #CB3229;
			font-size: 18px;
			margin: 0 2px;
			position: relative;
			top: 2px;
		}
	}
}


*/
.social-menu {
	li {
		display: inline-block;
		a {
			display: inline-block;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			text-align: center;
			padding: 8px;
			background: red;
			margin: 0 3px;
			transition: 0.5s;
			span {
				font-size: 25px;
				color: white;
			}
			&:hover {
				transform: scale(1.1,1.1);
			}
			&.facebook {
				background: rgba(255, 255, 255, 0.25); //$facebook;
			}
			&.twitter {
				background: rgba(255, 255, 255, 0.25); //$twitter;
			}
			&.pinterest {
				background: rgba(255, 255, 255, 0.25); //$pinterest;
			}
			&.instagram {
				background: rgba(255, 255, 255, 0.25); //$instagram;
			}
			&.github {
				background: rgba(255, 255, 255, 0.25); //$github;
			}
			&.snapchat {
				background: rgba(255, 255, 255, 0.25); //yellow;
				span {
					text-shadow: 0 0 1px black;
				}
			}
			&.linkedin {
				background: rgba(255, 255, 255, 0.25); //#0077b5;
			}
		}
	}
	@media (max-width: 768px) {
		display: block;
		text-align: center;
		padding: 0;
		float: none !important;
		li {
			a {
				width: 35px;
				height: 35px;
				padding: 5px;
			}
		}
	}
}
footer {
	width: 100%;
	background-color: #333333;
	color: #fff;
	@media (max-width: 850px) {
		float: left;
	}
	.cont-footer .contenedor-footer-left {
		width: 49%;
		float: left;
		padding: 20px 0;
		@media (max-width: 850px) {
			text-align: center;
			margin: 0 auto;
			width: 100%;
			padding: 0;
		}
	}
	.about {
		margin: 10px 0 0 46px;
		@media (max-width: 850px) {
			text-align: center;
			margin: 0 auto;
			max-width: 75%;
		}
		h3 {
			color: #69C0AC;
		}
		p {
			width: 75%;
			@media (max-width: 850px) {
				width: 100%;
			}
		}
	}
	.redes {
		margin: 10px 0 0;
		@media (max-width: 850px) {
			text-align: center;
			margin: 0 auto;
		}
	}
	.bottom-footer {
		width: 100%;
		display: inline-block;
		border-top: 1px solid #555;
		padding: 20px 40px 10px;
		color: #fff;
		@media (max-width: 850px) {
			text-align: center;
		}
		.copyrigth {
			float: left;
			@media (max-width: 850px) {
				float: none;
			}
			a {
				color: #69C0AC;
			}
		}
		div p {
			float: right;
			@media (max-width: 850px) {
				float: none;
			}
		}
		div p .ion-heart {
			color: #CB3229;
			font-size: 18px;
		}
	}
}
.cont-footer .contenedor-footer-right {
	width: 49%;
	float: right;
	padding: 20px 0;
	@media (max-width: 850px) {
		width: 100%;
		clear: both;
		margin: 0 auto;
		text-align: center;
	}
	.compania,
	.comunidad {
		width: 49%;
		float: left;
		@media (max-width: 850px) {
			float: none;
			width: 100%;
		}
		h3 {
			color: #69C0AC;
		}
		ul {
			margin-left: -36px;
			margin-right: 30px;
			@media (max-width: 850px) {
				margin-left: 0;
				margin-right: 40px;
			}
		}
		ul li {
			text-decoration: none;
			display: inherit;
			line-height: 2.8;
		}
		ul li:last-child {
			border-bottom: 0;
		}
		ul li a {
			text-decoration: none;
			color: #fff;
		}
	}
}
