<section class="teachers">
  <div class="inner">
    <div class="text left">
      <h1>Nuestros profesores</h1>
      <p>
        Como política interna, nos aseguramos de contratar únicamente a los mejores profesores del mercado. Es por eso, que la mayoría de ellos trabaja en empresas como
        <strong>MercadoLibre </strong>,
        <strong>Despegar.com</strong>,
        <strong>Globant</strong>, entre otras.
      </p>
      <p>
        Además de ser tus profesores, ellos se convertirán en tus mentores dentro y fuera de clase para ayudarte con tus proyectos y objetivos
      </p>
      <br/>
      <a ui-sref="careers" class="section-button">Ver Cursos</a>
    </div>
    <ch-slider-switch></ch-slider-switch>
  </div>
</section>
