<footer ng-if="!HIDE_FOOTER">

  <div class="cont-footer">
    <div class="contenedor-footer-left">
      <div class="about">
        <h3>Coderhouse</h3>
        <p>Transformando la educación.</p>
      </div>
      <div class="redes">
        <ul class="social-menu">
          <li>
            <a href="https://www.facebook.com/CoderHouse" target="_blank" class="facebook"><span class="ion-social-facebook social-icon" /></span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/CODERHOUSE" class="twitter" target="_blank"><span class="ion-social-twitter social-icon" /></span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/coderhouse/" class="instagram" target="_blank"><span class="ion-social-instagram-outline social-icon" /></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/CoderHouse" class="github" target="_blank"><span class="ion-social-github social-icon" /></span>
            </a>
          </li>
          <li>
            <a href="#" class="snapchat" target="_top" ng-click="vm.onClickSnapchat($event)"><span class="ion-social-snapchat social-icon" /></span>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/edu/school?id=368005" class="linkedin" target="_blank"><span class="ion-social-linkedin social-icon" /></span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="contenedor-footer-right">
      <div class="comunidad">
        <h3>Comunidad</h3>
        <ul>
          <li>
            <a href="http://slack.coderhouse.io/" target="_blank" rel="nofollow">Comunidad</a>
          </li>
          <li>
            <a ui-sref="testimonio">Casos de éxito</a>
          </li>
          <li>
            <a href="http://blog.coderhouse.com/" target="_blank">Blog</a>
          </li>
        </ul>
      </div>

      <div class="compania">
        <h3>Compañía</h3>
        <ul>
          <!--<li>
              <a ui-sref="about">Sobre Coderhouse</a>
            </li>-->
          <li>
            <a ui-sref="methodology">Metodología</a>
          </li>
          <li>
            <a ui-sref="business">Empresas</a>
          </li>
          <li>
            <a ui-sref="jobs">Empleos</a>
          </li>
          <li>
            <a ui-sref="work-with-us">Trabaja con nosotros</a>
          </li>
          <li>
            <a ui-sref="teach-with-us">Conviertete en instructor</a>
          </li>
          <li>
            <a href="https://angel.co/coderhouse-2" target="_blank">Inversores</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom-footer">
    <div class="row">
      <div class="col-md-6">
        <p class="copyrigth">
          <small>© 2016 Coderhouse, todos los derechos reservados. <a ui-sref="legal">Términos y Condiciones</a></small>
        </p>
      </div>
      <div class="col-md-6">
        <p>Hecho con <i class="ion-heart"></i> en Argentina, Chile & Uruguay</p>
      </div>
    </div>
  </div>
</footer>
