<div class="modal video" style="margin: auto;background: rgba(0,0,0,.5);position: absolute;width: 100%;height: 100%;display: none;z-index: 9999;">
  <div class="content">
    <div class="close-button"></div>
    <div>
      <video id="fullVideo" class="safari_only" autoplay preload="auto" controls="true" style="width: 100%; height: 100%;  object-fit: cover; margin: 0 auto !important;">
        <source src="https://res.cloudinary.com/hdsqazxtw/video/upload/v1468863514/coderhouse_master_live_kjjifq.mp4" type="video/mp4" />
        <source src="https://res.cloudinary.com/hdsqazxtw/video/upload/v1468863514/coderhouse_master_live_kjjifq.ogv" type="video/ogg" />
        <source src="https://res.cloudinary.com/hdsqazxtw/video/upload/v1468863514/coderhouse_master_live_kjjifq.webm" type="video/webm" />
      </video>
    </div>
  </div>
</div>
